@use "variable";

.sidebar {
    top: 50px;
    background-color: variable.$primary;
    border-right: 1px solid variable.$border;
    height: calc(100vh - 50px);
    width: 270px;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}

.displayBlock {
    display: block;
}

.displayNone {
    display: none;
}

.mainNoSidebar {
    margin-left: 0vw;
    margin-right: calc(330px + 2vw);
}

.mainSidebar {
    margin-left: 20vw;
}

.animate-left {
  position: relative;
  animation: animateleft 0.4s;
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.barItem {
  padding: 8px 16px;
  width: 100%;
  border: none;
  display: block;
  outline: 0;
}

.barButton {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

//media----------------------------------------------------------------------

@media (max-width: 1200px) {
  #main {
    margin-left: 2vw;
    max-width: auto;
    width: auto;
    margin-right: calc(330px + 2vw);
  }
}