:root {
    color-scheme: light dark;
  --primary: #FFFFFF;
  --secondary: #f9f9f9;
  --text-color: #262626;
  --border: #b8b8b8;
  --divider: #e8e8e8;
  --actionBar-btn: #ebebeb;
  --accent: #ff5d5d;
  --dark-primary: #121212;
  --dark-secondary: #282828; 
  --dark-text-color: #ffffff;
  --dark-border: #333333;
  --dark-divider: #2a2a2a;
  --dark-actionBar-btn: #3d3d3d;
  --dark-post-modal: #1d1d1d;
  --dark-accent: #ff5d5d;

  --white: #ffffff;
  --black: #000000;
  --linkColour: #a5a5a5;
}

$primary: light-dark(var(--primary), var(--dark-primary));
$secondary: light-dark(var(--secondary), var(--dark-secondary));
$post-modal: light-dark(var(--primary), var(--dark-post-modal));
$text-color: light-dark(var(--text-color), var(--dark-text-color));
$border: light-dark(var(--border), var(--dark-border));
$divider: light-dark(var(--divider), var(--dark-divider));
$actionBar-btn: light-dark(var(--actionBar-btn), var(--dark-actionBar-btn));
$accent: light-dark(var(--accent), var(--dark-accent));

$white: var(--white);
$black: var(--black);
$linkColour: var(--linkColour);

body {
  background-color: var(--primary);
  color: var(--text-color);
  //transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  color-scheme: light;

}
body:has(#dark-mode-toggle:checked) {
    color-scheme: dark;
}

.toggle {
  cursor: pointer;
  padding: 8px 12px;
  background: var(--actionBar-btn);
  border: 1px solid var(--border);
  border-radius: 4px;
  color: var(--text-color);
  user-select: none;
  display: inline-block;

  &:hover {
    border-color: var(--accent-orng);
  }

  #dark-mode-toggle:checked + & {
    background: var(--accent-orng);
    color: white;
  }
}